@import './variable';

.queue {
	width: 100%;

	font-size: 1.3em;

	overflow: hidden;

	.box-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		p,
		svg:hover {
			color: rgba($font-color, 0.5);
		}

		p {
			margin: 0.5ch 0 2ch 0;
			font-size: 0.7em;
		}

		svg {
			opacity: 0;
		}

		&:hover {
			opacity: 1;
		}
		&:hover svg {
			cursor: pointer;

			opacity: 1;
		}
	}
}
