@import './variable';

.search-bar {
    
    max-width: 40rem;
    margin: auto;
    z-index: 1000;

    input {

        border: none;
        outline: none;

        padding: 0.5rem 1rem;
        color: $theme-color;
        font-size: inherit;

        width: 100%;
    
    }

    .response,
    .image-response {

        position: fixed;
        z-index: 100;

        border-radius: 0 0 0.5rem 0.5rem;
        
        max-width: 40rem;
        width: 100%;

        font-size: 1.2em;
        text-align: center;

        color: $font-color;

    }

    .response {

        padding: 1vh 0;

        background: $theme-color;
        
    }

    .image-response {

        background-size: cover;
        background-position: center;
        
        div {
            padding: 1ch 0;

            background: rgba(black, 0.2);
            backdrop-filter: blur(2px);

            border-radius: 0 0 0.5rem 0.5rem;
        
        }

    }

}